<h1>Contactos</h1>

<ul><h2>Datos Personales</h2>
<img src='../images/imagen1.jpg'>
<li>Nombre: Astrid Yarelly Medina Zuniga</li>  
<li>Identidad: 0801-1996-06996</li>
<li>Fecha de Nacimiento: 15-Abril-1996</li>
<li>Residencia: Tegucigalpa, Honduras</li>
<li>Profeción: Estudiante universitario de Ingenieria en Ciencias de la computación</li>
</ul>


<b>{{contact}}</b>
