<form action="/signup" method="post">
  <label for="txtEmail">Correo Electrónico</label>
  <input type="email" id="txtEmail" name="txtEmail"
    value="{{txtEmail}}" placeholder="tucorre@electron.ico"
    />
    <br />
    <input type="submit" value="Registrarse" id="btnSubmit"
      name="btnSubmit"/>
</form>
<div>
  <ul>
    {{#each msg}}
      <li>
        {{this}}
      </li>
      {{/each}}
  </ul>

</div>
